@import url("//cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");

body {
  background: #131313;
  color: snow;
  margin: 0;
  padding: 0;
  font-family: "BPG Arial", 'Avenir Next', 'Inter UI', 'Helvetica Neue', 'Helvetica', 'Calibri', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding: 0;
  user-select: none
}

h1 {
  padding: 42px;
  padding-left: 68px;
  margin: 0;
}

hr {
  opacity: 0.25;
}

.marks {
  width: 280px;
  text-align: right;
  margin-top: 26px;
}

.marks h2 {
  user-select: auto;
}

.marks hr {
  margin-bottom: 42px;
  width: calc(100vw - 52px);
}

.models {
  font-size: 15px;
  line-height: 2
}

.models > dt {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.models > dt > h4 {
  min-width: 100%;
  flex: 1;
  margin: 0;
  letter-spacing: 1px;
  user-select: auto;
}

.models > dt > dl {
  margin-left: 42px;
}

.types {
  flex: 1;
  min-width: calc(100vw - 100% - 94px);
  display: flex;
  align-items: center;
}

.types > dt {
  position: relative;
  padding: 15px;
  margin-right: 6px;
  line-height: 1;
}

.types input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  background: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  border-radius: 3px;
  cursor: pointer;
}

input:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .5);
}

.types span {
  position: relative;
  pointer-events: none;
}

.types input:checked {
  background: rgb(185, 218, 124);
  color: black;
  font-weight: 600;
}

input:focus:checked {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
}

.types input:checked + span {
  color: black;
  font-weight: 600;
}